:root {
   /* colors */
   /* primary*/
    --clr-blue: hsl(246, 80%, 60%);
   
    --clr-light-red-work: hsl(15, 100%, 70%);
    --clr-soft-blue-play: hsl(195, 74%, 62%);
    --clr-light-red-study: hsl(348, 100%, 68%);
    --clr-lime-green-exercise: hsl(145, 58%, 55%);
    --clr-violet-social: hsl(264, 64%, 52%);
    --clr-soft-orange-selfCare: hsl(43, 84%, 65%);

    /* neutral */
    --clr-very-dark-blue: hsl(226, 43%, 10%);
    --clr-dark-blue: hsl(235, 46%, 20%);
    --clr-desaturated-blue: hsl(235, 45%, 61%);
    --clr-pale-blue: hsl(236, 100%, 87%);
    --clr-white: hsl(0, 0%, 100%);
   
 
    /* typography */
    --ff-primary: "Rubik", serif;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500; 
    --fs-18: 1.125rem; /*18px*/
    --fs-data-notice--activity__previous: clamp(.8rem, .1vw, 1rem);
    --fs-data-name: clamp(1.4rem, 1.6vw, 1.9rem);
    --fs-button--activity__desc--activity__info: clamp(1rem, .8vw, 1.125rem);
    --fs-activity__current: clamp(1.8rem, 6vw, 2.2rem);
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-18);
    color: var(--clr-white);
    background-color: var(--clr-very-dark-blue);
}

/*---------------------Mobile layout-------------------------*/
.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'attribution';
    justify-items: center;
    width: 21rem;
}

/* style 1st component - mobile */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* style 2nd component - mobile */
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'user'
        'activities';
    gap: 1.5rem;
    width: 100%;
}

.user {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'user__data'
        'user__activity-period';
    margin-top: 1rem;
}

.user__data {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-areas:
        'user__data-image user__data-notice'
        'user__data-image user__data-name';
    justify-content: center;
    background-color: var(--clr-blue);
    border-radius: 0.7rem;
    padding: 2rem;
    z-index: 1;
}

.user__data-image {
    width: 4rem;
    border-radius: 50%;
    border: 2px solid white;
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
}

.user__data-notice {
    color: var(--clr-pale-blue);
    justify-self: start;
    align-self: end;
    font-size: var(--fs-data-notice--activity__previous);
}

.user__data-notice, .activity__previous{
    font-size: var( --fs-data-notice--activity__previous);
}

.user__data-name {
    text-transform: capitalize;
    justify-self: start;
    align-self: start;
    font-size: var(--fs-data-name);
}

.user__data-notice, .user__data-name, .activity__current {
    font-weight: var(--fw-300);
}

.user__activity-period {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'day week month';
    justify-items: center;    
    padding: 2.5rem 1rem 1rem;
    margin-top: -1.5rem;
    border-radius: 0.7rem;
    background-color: var(--clr-dark-blue);
}

button {
    background-color: transparent;
    border: none;
    text-transform: capitalize;    
    color: var(--clr-desaturated-blue);
}

button, .activity__desc, .activity__info {
    font-size: clamp(1rem, .8vw, 1.125rem);
}

button, .activity__previous {
    font-weight: var(--fw-400);
}

.colorPeriod {
    color: white;
}

#activities {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'activity__work'
        'activity__play'
        'activity__study'
        'activity__exercise'
        'activity__social'
        'activity__self-care';
    gap: 1.5rem;
}

.activity__title {
    border-radius: 0.7rem;
    place-items: end;
    overflow: hidden;
}

.work {
    background-color: var(--clr-light-red-work);
}

.play {
    background-color: var(--clr-soft-blue-play);
}

.study {
    background-color: var(--clr-light-red-study);
}

.exercise {
    background-color: var(--clr-lime-green-exercise);
}

.social {
    background-color: var(--clr-violet-social);
}

.self-care {
    background-color: var(--clr-soft-orange-selfCare);
}

.activity__image {
    width: auto;
    height: 4.5rem;
    margin-top: -0.4rem;
    margin-right: 1rem;
}

.activity__data {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        'activity__desc activity__info'
        'activity__current activity__previous';
    gap: 1.2rem;    
    padding: 1.5rem;
    margin-top: -1.7rem;
    background-color: var(--clr-dark-blue);
    border-radius: 0.7rem;
    position: relative;
    z-index: 0;
}

.activity__desc {
    align-self: end;
    font-weight: var(--fw-500);
}

.activity__info {
    justify-self: end;
    align-self: center;
}

.activity__current {
    font-size: var(--fs-activity__current);
    align-self: start;
    margin-top: -1rem;
}

.activity__previous {
    text-transform: capitalize;
    color: var(--clr-pale-blue);
    justify-self: end;
    align-self: center;
    margin-top: -1rem;
}

/* style 3rd component - mobile */
/* 3rd component is styled in external file */

/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {

.grid__container {
    width: 50rem;
}
 
/* style 1st component - desktop */
/*No style*/

/*style 2nd component - desktop */
.main {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        'user activities';
    gap: 1rem;
    width: 100%;
}

.user {
    width: max(75%, 12rem);
    justify-self: end;
}

.user__data {
    grid-template-columns: 1fr;
    grid-template-areas:
        'user__data-image'
        'user__data-notice'
        'user__data-name';
}

.user__data-image {
    justify-self: start;
}

.user__activity-period {
    grid-template-areas:
        'day'
        'week'
        'month';
    justify-items: start;
}

button:focus,
button:hover {
    cursor: pointer;
    color: white;
}

#activities {
    grid-template-rows: 2fr;
    grid-template-areas:
        'activity__work activity__play activity__study'
        'activity__exercise activity__social activity__self-care';
    gap: 1rem;
    justify-self: start;
    width: 100%;
    margin-top: 1rem;
}

.activity__container {
    width: 11rem;
}

.activity__data {
    grid-template-columns: 2fr;
    grid-template-areas:
        'activity__desc activity__info'
        'activity__current activity__current'
        'activity__previous activity__previous';
    gap: 1rem;
}

.activity__data:focus,
.activity__data:hover {
    cursor: pointer;
    background-color: var(--clr-desaturated-blue);
}

.activity__info:focus,
.activity__info:hover {
    cursor: pointer;
}

.activity__current {
    margin-top: .1rem;
}

.activity__previous {
    justify-self: start;
}

/* style 3rd component - mobile */
/* 3rd component is styled in external file */
}


/*---------grid area name--------------*/

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.user {
    grid-area: user;
}

.user__data {
    grid-area: user__data;
}

.user__data-image {
    grid-area: user__data-image;
}

.user__data-notice {
    grid-area: user__data-notice;
}

.user__data-name {
    grid-area: user__data-name;
}

.user__activity-period {
    grid-area: user__activity-period;
}

#day {
    grid-area: day;   
}

#week {
    grid-area: week;
}

#month {
    grid-area: month;
}

#activities {
    grid-area: activities;
}

.activity__desc {
    grid-area: activity__desc;
}

.activity__info {
    grid-area: activity__info;
}

.activity__current {
    grid-area: activity__current;
}

.activity__previous {
    grid-area: activity__previous;
}

.activity__work {
    grid-area: activity__work;
}

.activity__play {
    grid-area: activity__play;
}

.activity__study {
    grid-area: activity__study;
}

.activity__exercise {
    grid-area: activity__exercise;
}

.activity__social {
    grid-area: activity__social;
}

.activity__self-care {
    grid-area: activity__self-care;
}

.attribution {
    grid-area: attribution;
}